name: Deploy TaskPilot to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd TaskPilot
            git pull origin main
            docker build -t taskpilot-app .
            docker stop taskpilot || true
            docker rm taskpilot || true
            docker run -d -p 80:80 --name taskpilot taskpilot-app
